<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>T.P.S</title>
  
  <link rel="stylesheet" href="/static/중기_출력.css">  

  <style>
    .graph .y-axis > li {
      position: relative;
      width:calc(100% - 20px);
      height: calc(185px / ({{y_value}} / 100 + 1) - 1px);
      margin-left: 20px;
      border-bottom: 1px solid #8c8c8c;
      text-align: left;
    }

    .graph .y-axis > li span {
      position: absolute;
      top: calc(185px / ({{y_value}} / 100 + 1) - 7px);
      left: -20px;
      font-size: 12px;
      line-height: 1;
    }
  </style>

</head>
<body>

  <div class="container">

    <header id="intro">
        <h1>
            <img class="로고" src="/static/로고.png" alt="로고">
            <a href="/">태양을 피하고 싶었조</a>
        </h1> 
       
        <nav>
            <ul>
                <li class="예상_발전량"><a href="/중기_입력">예상 발전량</a></li>
                <li class="예상_수익"><a href="/예상_수익_입력">예상 수익</a></li>
                <li class="부가기능"><a href="#">부가기능</a></li>
            </ul>
        </nav>
    </header>
  </div>
  <main role="main" id="main">

    <article class="그래프창">
        <div class="그래프">
          <div class="graph_wrap">
            <form action="/중기_출력_월별" id="중기_월" method="get">
              <a>
                  <select name="중기_월" form="중기_월">
                    <script>
                      var month_change = {{month_change|tojson}};
                      var start_month = {{start_month}};
                      for (var i = 0; i < (month_change.length-1); i ++){
                        document.write('<option value="'+String(i+1)+'">'+String(start_month+i)+'월</option>')
                      };
                    </script>
                  </select>
                  <input type="submit" name="중기_월_제출" id="중기_월_제출">
              </a>
            </form>
            <div class="graph">
              <!-- 기준 -->
              <ul class="y-axis">
                <script>
                  var date_list = {{date_list|tojson}};
                  var y_value = {{y_value}};
                  for (var i = y_value; i >= 0; i -= 100){
                    document.write("<li><span>"+i+"</span></li>")
                  };
                </script>
              </ul>
          
              <!-- 목록 -->
              <ul class="x-axis">
                <script>
                  var date_list = {{date_list|tojson}};
                  var month_change = {{month_change}};
                  for (var i = 0; i < (month_change[1]+1); i++){
                    document.write("<li><span>"+date_list[i]+"</span></li>")
                  };
                </script>
              </ul>
          
              <!-- 바 그래프 (백분율 만큼 heigh값) -->
              <ul class="bar">
                <script>
                  var photovoltaics_predict_percent = {{photovoltaics_predict_percent|tojson}};
                  var month_change = {{month_change}};
                  for (var i = 0; i < (month_change[1]+1); i++){
                    document.write('<li style="height:'+photovoltaics_predict_percent[i]+'%;"><span></span></li>')
                  };
                </script>
              </ul>
            </div>
          </div>
        </div>
    </article>

    <article class="예상">
      <p>
        {{date_list[0]}} <br>
        {{date_list[1]}}<br>
        {{date_list[2]}}
      </p>
    </article>
    

</main>


<footer id="footer">

    <div class="copyright">
        <p>Copyright © Cloud_B_태양을피하고싶었조. All rights reserved.</p>
    </div>

    <div class="address">
        <p>광주 동구 제봉로 92 1~3층 인공지능사관학교 Cloud_B_태양을피하고싶었조</p>
    </div>

</footer>

</body>
</html>
